@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');

body {
    background-color: cornflowerblue;
}
header{
    text-align: center; 
    font-family: "Walter Turncoat", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}

header .pfp{
    width: 200px;
    height: 200px;
    border: 5px solid white;
    border-radius: 25%;
    background-image: url(./../img/Alices-Adventures-In-Wonderland.jpg);
    background-repeat: no-repeat;
    background-position: center -110px;
    background-size: 110%;
    margin: 0 auto;
}