@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');

body {
    background-color: cornflowerblue;
}
h1{
    text-align: center; 
    font-family: "Walter Turncoat", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}
